<!doctype html>
<html>
  <head>
      <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" />

    <!-- Include the AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>
  <body ng-app='Conway'>
    <div class="header">
      <div class="container">

    <div class="main" ng-controller='ConwayController'>
    <br/>
    <button ng-click="startButtonClicked();">{{buttonText}}</button> &nbsp;&nbsp;
    <button ng-click="clear();">Clear</button>
    <br/><br/>
    <div>
        <div style='float:left; ' ng-repeat="y in colors track by $index">
            <div class='cell' ng-repeat="x in y track by $index" ng-click="updateCell($parent.$index, $index);" ng-class="x == '0' ? 'white' : 'black'">
            </div>
        </div>
    </div>
    </div>

    <!-- Data -->
     <script src="js/data.js"></script>
    
    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/ConwayController.js"></script>
    
  </body>
</html>

